body {
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 320px;
  margin: 50px auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d6d;
}

/* área da Masha */
.area {
  position: relative;
  width: 200px;
  margin: auto;
}

.masha {
  width: 200px;
  border-radius: 20px;
}

/* corações */
.heart {
  position: absolute;
  font-size: 20px;
  animation: girar 4s linear infinite;
}

/* posições diferentes */
.h1 { top: 0; left: 50%; }
.h2 { top: 50%; left: 0; }
.h3 { top: 100%; left: 50%; }
.h4 { top: 50%; left: 100%; }

/* animação girando */
@keyframes girar {
  0% {
    transform: rotate(0deg) translate(80px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(80px) rotate(-360deg);
  }
}

p {
  margin-top: 15px;
  color: #555;
}